.textcolor
{
color: white;	
}
.jumbotron{
    background-color: powderblue;
    color:black;
    opacity: 0.8;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}
.tab-content{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
.nav-tabs {
    margin-bottom: 0;
}